<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.czltnb.weblog.common.domain.mapper.ArticleTagRelDOMapper">
    <resultMap id="BaseResultMap" type="com.czltnb.weblog.common.domain.dos.ArticleTagRelDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="article_id" jdbcType="BIGINT" property="articleId"/>
        <result column="tag_id" jdbcType="BIGINT" property="tagId"/>
    </resultMap>
    <insert id="insert" parameterType="com.czltnb.weblog.common.domain.dos.ArticleTagRelDO">
        insert into t_article_tag_rel
        (article_id,tag_id)
        VALUES
        (#{articleId},#{tagId})
    </insert>
    <insert id="batchInsert" parameterType="java.util.List">
        insert into t_article_tag_rel
        (article_id,tag_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.articleId},#{item.tagId})
        </foreach>
    </insert>
    <delete id="delete" parameterType="long">
        delete from t_article_tag_rel
        WHERE article_id = #{articleId}
    </delete>
    <select id="batchSelectByArticleId" resultMap="BaseResultMap">
        select id,article_id,tag_id
        from t_article_tag_rel
        WHERE article_id = #{articleId}
    </select>
    <select id="selectOneByTagId" resultMap="BaseResultMap">
        select id,article_id,tag_id
        from t_article_tag_rel
        WHERE tag_id = #{tagId}
        limit 1
    </select>
    <select id="batchSelectByArticleIds" resultMap="BaseResultMap" parameterType="list">
        select id,article_id,tag_id
        from t_article_tag_rel
        WHERE article_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>
