<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.czltnb.weblog.common.domain.mapper.ArticleDOMapper">
    <resultMap id="BaseResultMap" type="com.czltnb.weblog.common.domain.dos.ArticleDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="cover" jdbcType="VARCHAR" property="cover"/>
        <result column="summary" jdbcType="VARCHAR" property="summary"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="read_num" jdbcType="BIGINT" property="readNum"/>
    </resultMap>
    <insert id="insert" parameterType="com.czltnb.weblog.common.domain.dos.ArticleDO" useGeneratedKeys="true" keyProperty="id">
        insert into t_article
        (title,cover,summary)
        VALUES
        (#{title},#{cover},#{summary})
    </insert>
    <select id="selectArticleById" resultMap="BaseResultMap">
        select *
        from t_article
        WHERE is_deleted = 0 AND id = #{id}
    </select>
    <delete id="delete" parameterType="long">
        delete from t_article
        WHERE id = #{id} AND is_deleted = 0
    </delete>
    <update id="updateArticleById" parameterType="com.czltnb.weblog.common.domain.dos.ArticleDO">
        update t_article set
        title = #{title},
        cover = #{cover},
        summary = #{summary},
        update_time = #{updateTime}
        WHERE id = #{id} AND is_deleted = 0
    </update>
    <select id="selectCountByTitleInTargetTime" resultType="int">
        select count(*)
        from t_article
        WHERE is_deleted = 0 AND title like concat ('%',#{title},'%')
        <if test="startDate != null and endDate != null">
            and create_time between #{startDate} and date_add(#{endDate}, interval 86399 second)
        </if>
        <if test="startDate != null and endDate == null">
            and create_time >= #{startDate}  <!-- 仅限制开始时间，不限制结束时间 -->
        </if>
        <if test="startDate == null and endDate != null">
            and create_time &lt;= date_add(#{endDate}, interval 86399 second)  <!-- 仅限制结束时间，不限制开始时间 -->
        </if>
        <!-- 如果两者都为 null，则不添加时间条件 -->
    </select>
    <select id="selectArticleByTitleInTargetTime" resultMap="BaseResultMap">
        select *
        from t_article
        WHERE is_deleted = 0 AND title like concat ('%',#{title},'%')
        <if test="startDate != null and endDate != null">
            and create_time between #{startDate} and date_add(#{endDate}, interval 86399 second)
        </if>
        <if test="startDate != null and endDate == null">
            and create_time >= #{startDate}  <!-- 仅限制开始时间，不限制结束时间 -->
        </if>
        <if test="startDate == null and endDate != null">
            and create_time &lt;= date_add(#{endDate}, interval 86399 second)  <!-- 仅限制结束时间，不限制开始时间 -->
        </if>
        <!-- 如果两者都为 null，则不添加时间条件 -->
        limit #{offset},#{pageSize}
    </select>
    <select id="selectCount" resultType="int">
        select count(*)
        from t_article
        WHERE is_deleted = 0
    </select>
    <select id="selectArticlePageList" resultMap="BaseResultMap">
        select *
        from t_article
        WHERE is_deleted = 0
        limit #{offset},#{pageSize}
    </select>
    <select id="selectArticlePageListByArticleIds" resultMap="BaseResultMap">
        select *
        from t_article
        WHERE is_deleted = 0
        AND id in
        <foreach collection="articleIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        limit #{offset},#{pageSize}
    </select>
    <select id="selectPreArticle" resultMap="BaseResultMap">
        select *
        from t_article
        WHERE is_deleted = 0
        AND id &lt; #{articleId}
        ORDER BY id DESC
        limit 1
    </select>
    <select id="selectNextArticle" resultMap="BaseResultMap">
        select *
        from t_article
        WHERE is_deleted = 0
        AND id > #{articleId}
        ORDER BY id ASC
        limit 1
    </select>
    <update id="increaseReadNum" parameterType="long">
        update t_article set
        read_num = read_num + 1
        WHERE id = #{articleId} AND is_deleted = 0
    </update>
    <select id="selectAllReadNum" resultMap="BaseResultMap">
        select *
        from t_article
        WHERE is_deleted = 0
    </select>
</mapper>
