<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.czltnb.weblog.common.domain.mapper.TagDOMapper">
    <resultMap id="BaseResultMap" type="com.czltnb.weblog.common.domain.dos.TagDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
    </resultMap>
    <select id="selectByName" resultMap="BaseResultMap">
        select id,name,create_time,update_time
        from t_tag
        WHERE name = #{name}
    </select>
    <select id="selectById" resultMap="BaseResultMap">
        select id,name,create_time,update_time
        from t_tag
        WHERE is_deleted = 0 AND id = #{id}
    </select>
    <select id="selectByIds" resultMap="BaseResultMap">
        select id,name,create_time,update_time
        from t_tag
        WHERE is_deleted = 0 AND id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id,name,create_time,update_time
        from t_tag
        WHERE is_deleted = 0
    </select>
    <insert id="insertTag" parameterType="com.czltnb.weblog.common.domain.dos.TagDO" useGeneratedKeys="true" keyProperty="id">
        insert into t_tag
        (name)
        VALUES
        (#{name})
    </insert>
    <select id="selectCountByTagName" resultType="int">
        select count(*)
        from t_tag
        where is_deleted = 0 AND name like concat ('%',#{name},'%')
    </select>
    <select id="selectPageListByTagName" resultMap="BaseResultMap">
        select id,name,create_time,update_time
        from t_tag
        where is_deleted = 0 AND name like concat ('%',#{name},'%')
            limit #{offset},#{pageSize}
    </select>
    <select id="selectPageListByTagNameInTargetTime" resultMap="BaseResultMap">
        select id,name,create_time,update_time
        from t_tag
        where is_deleted = 0 AND name like concat ('%',#{name},'%')
        <!-- 补充时间范围条件：create_time 大于等于开始时间，小于等于结束时间 -->
        <if test="startDate != null">
            AND create_time >= #{startDate}
        </if>
        <if test="endDate != null">
            AND create_time &lt;= #{endDate}
        </if>
        limit #{offset},#{pageSize}
    </select>
    <update id="deleteTagById" parameterType="long">
        update t_tag
        set is_deleted = 1
        WHERE is_deleted = 0 AND id = #{id}
    </update>
    <select id="selectCount" resultType="int">
        select count(*)
        from t_tag
        WHERE is_deleted = 0
    </select>
    <select id="selectByTagsName" resultMap="BaseResultMap">
        SELECT
        *
        FROM t_tag
        WHERE name IN
        <foreach collection="list" item="tagName" open="(" separator="," close=")">
            #{tagName}
        </foreach>
    </select>
    <insert id="insertTags">
        INSERT INTO t_tag (
        name
        ) VALUES
        <foreach collection="list" item="tag" separator=",">
            (
            #{tag.name}
            )
        </foreach>
    </insert>
</mapper>
